.bloc_fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px 20px;

  .bloc_fonctionnement__titre {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  .bloc_fonctionnement__etapes {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .etape {
      margin-bottom: 25px;
      margin-left: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: 1024px) {
        width: 30%;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: 1024px) {
    padding: 50px 12.5%;
  }
}
