.carte {
  background-color: $background-gris;
  position: relative;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;

  .carte__image {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .carte__titre {
    font-family: Shrikhand;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    line-height: 40.82px;
  }

  .carte__button {
    margin-top: 30px;
    align-self: center;
  }
}
