.bloc-presentation {
  width: 100%;
  height: 280px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $background-gris;
  font-family: $main-font;
  margin: 0;

  h2 {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
    width: 275px;
    margin: 0;

    @media (min-width: 1024px) {
      width: 100%;
    }
  }

  p {
    line-height: 21.09px;
    width: 315px;
    font-weight: 300;
    font-size: 18px;

    @media (min-width: 1024px) {
      width: 100%;
    }
  }

  a {
    text-decoration: none;

    .button {
      margin-top: 15px;
    }
  }
}
