.bloc-menu_img {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.bloc-menu {
  background-color: $background-gris;
  position: relative;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  top: -45px;
  font-family: $main-font;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;

  .bloc-menu_titre {
    font-family: Shrikhand;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    line-height: 40.82px;
  }

  .button {
    margin-top: 30px;
    align-self: center;
  }

  @media (min-width: 1024px) {
    width: 70%;
    margin: 0 auto;
  }
}
