.carte {
  display: flex;
  flex-direction: column;
  background-color: $background-gris;

  .carte__image {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    max-height: 383px;
    margin-bottom: -40px;
  }

  .carte__titre {
    font-family: Shrikhand;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    position: relative;

    .titre__coeur {
      position: absolute;
      z-index: 40;
      right: 10px;
      bottom: 0px;
    }

    .titre__coeur--plein {
      opacity: 0;
      color: transparent;
      transition-property: all;
      transition-duration: 0.1s;
      background-image: linear-gradient(to top, #ff79da, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }

  .carte_menu {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: $background-gris;
    padding: 30px 20px 0 20px;
    position: relative;
    z-index: 20;
  }

  .carte__button {
    margin: 40px 0;
    align-self: center;
  }
}
