.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
  width: 100%;
  padding: 40px 0;

  h2 {
    margin: 0 0 0 10px;
    font-size: 24px;
    align-self: flex-start;
  }

  ol {
    list-style: none;
    width: 100%;

    li {
      display: flex;
      background-color: #F6F6F6;
      box-shadow: 0 0 10px 1px $background-gris;
      height: 70px;
      align-items: center;
      width: 90%;
      margin-bottom: 20px;
      border-radius: 20px;

      .numero {
        width: 24px;
        height: 24px;
        background-color: #9356dc;
        border-radius: 15px;
        margin-left: -10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-right: 20px;
      }

      svg {
        color: #7e7e7e;
        margin-right: 20px;

        &:hover {
          color: #9356dc;
        }
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
      }
    }
  }
}
