.footer {
  background-color: $background-sombre;
  color: #fff;
  padding: 22px 25px;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 114px;
    padding: 30px 25px;
  }

  .footer__image {
    height: 20px;
    filter: invert(100%);
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      margin: 0 0 0 16px;
    }
  }

  .footer__liste {
    list-style: none;

    @media (min-width: 1024px) {
      display: flex;
      padding-right: 40px;
    }

    .liste__item {
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 16px;

      @media (min-width: 1024px) {
        margin: 0 10px 0 0;
      }

      &:last-child {
        margin: 0;
      }

      a {
        text-decoration: none;
      }
    }

    .liste__item--avec_icone {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-right: 40px;

      &:first-child {
        padding: 0;
      }

      .item__icone {
        margin-right: 8px;
      }
    }
  }
}
