.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header__bloc_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    z-index: 25;

    .header__logo {
      width: 197px;
      height: 36px;
    }
  }
}

.header_home {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}

.header_menu {
  .header__bloc_logo {
    width: 200px;
  }

  .header_menu__retour {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 17px;
    top: 14px;

    .header_menu__fleche_retour {
      height: 16px;
    }
  }
}
