.button {
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.2);
  }
}
