.carte_restaurant {
  width: 100%;
  height: 251px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;

  .carte_restaurant__nouveau {
    background-color: #99e2d0;
    position: absolute;
    top: 13px;
    right: 15px;
    margin: 0;
    color: #008766;
    width: 80px;
    height: 29px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    z-index: 55;
  }

  .carte_restaurant__image {
    position: absolute;
    width: 100%;
    bottom: 60px;
    z-index: 1;
  }

  .carte_restaurant__image--verticale_image {
    bottom: -25px;
  }

  .carte_restaurant__texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 70px;
    z-index: 2;
    padding-left: 10px;

    .carte_restaurant__titre {
      font-weight: 700;
      font-size: 18px;
    }

    .carte_restaurant__localisation {
      margin: 0;
      font-size: 17px;
    }
  }

  .carte_restaurant__coeur {
    position: absolute;
    z-index: 40;
    right: 20px;
    bottom: 40px;
  }

  .carte_restaurant__coeur--plein {
    opacity: 0;
    color: transparent;
    transition-property: all;
    transition-duration: 0.1s;
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}
